.Joke {
  display:        flex;
  flex-direction: row;
  margin: 2rem 0;

  &__button {

    &--container {
      display:        flex;
      flex-direction: row;
    }

    &--text {

        margin: 0 1rem;

    }
  }

  &__text {

    &--container {

    }
  }

}